<div class="top-push listDetailView" id="Team">
    <div class="col-xs-2 list">
        <div class="row">
            <input ng-model="searchText" placeholder="Search for..." class="listSearch"></input>
        </div>
        <div ng-repeat="team in list | filter:searchText" class="row listRow" ng-class="{selected: team==selected}" ng-click="select(team)">
            <p>{{team.TEAMNAME}}</p>
        </div>
        <div>
            <button class="btn btn-secondary col-sm-offset-2" ui-sref="createTeam">Create Team</button>
        </div>
    </div>
    <div class="detail container-fluid container-sm">
        <h1>Team Details</h1>
        <div id="TeamName" class="row container-fluid detailContainer">
            <div class="detailLabel">Team Name: </div>
            <div class="detailValue">
                {{selected.TEAMNAME}}
            </div>
        </div>
        <div id="TeamCaptain" class="row container-fluid detailContainer">
            <div class="detailLabel">Team Captain: </div>
            <div class="detailValue">
                <!--TODO replace TEAMMEMBERS[0] with a the team captain-->
                <a ng-show="selected.TEAMMEMBERS.length" ui-sref="participant({selectedId: selected.TEAMMEMBERS[0].USERID})">{{selected.TEAMMEMBERS[0].LASTNAME}}, {{selected.TEAMMEMBERS[0].FIRSTNAME}}</a>
            </div>
        </div>
        <div id="Participants" class="row container-fluid detailContainer">
            <div class="detailLabel">
                Participants:
                <button class="btn btn-sm btn-block btn-secondary" ui-sref="editParticipants({teamId: selected.TEAMID})">Edit Participants</button>
            </div>
            <div class="detailValue">
                <div ng-repeat="participant in selected.TEAMMEMBERS">
                    <!--TODO replace hide team captain-->
                    <a ng-hide="participant.ISTEAMCAPTAIN"ui-sref="participant({selectedId: participant.USERID})">{{participant.LASTNAME}}, {{participant.FIRSTNAME}}</a>
                </div>
            </div>
        </div>
        <div id="Routes" class="row container-fluid detailContainer">
            <div class="detailLabel">
                Routes:
                <button class="btn btn-sm btn-block btn-secondary">Edit Routes</button>
            </div>
            <div class="detailValue">
                <div ng-repeat="route in selected.routes">{{route.ROUTENAME}}</div>
            </div>
        </div>
        <div id="BottomButtons" class="row container-fluid detailContainer"><button class="btn btn-secondary col-sm-5 col-xs-12" ui-sref="editTeam({teamId:selected.id})">Edit Team Details</button><button class="btn btn-danger  col-sm-offset-2 col-sm-5 col-xs-12">Delete Team</button></div>
    </div>
</div>