<div class="top-push listDetailView" id="Team">
    <div class="col-xs-2 list">
        <div ng-repeat="team in list" class="row listRow" ng-class="{selected: team==selected}" ng-click="select(team)">
            <p>{{team.name}}</p>
        </div>
    </div>
    <div class="detail container-fluid">
        <h1>Team Details</h1>
        <div id="TeamName" class="row container-fluid detailContainer">
            <div class="detailLabel">Team Name: </div>
            <div class="detailValue">
                {{selected.name}}
            </div>
        </div>
        <div id="TeamCaptain" class="row container-fluid detailContainer">
            <div class="detailLabel">Team Captain: </div>
            <div class="detailValue">
                {{selected.captain.name}}
            </div>
        </div>
        <div id="Participants" class="row container-fluid detailContainer">
            <div class="detailLabel">
                Participants:
                <button class="btn btn-sm btn-block btn-secondary">Edit Participants</button>
            </div>
            <div class="detailValue">
                <div ng-repeat="participant in selected.participants">{{participant.name}}</div>
            </div>
        </div>
        <div id="Routes" class="row container-fluid detailContainer">
            <div class="detailLabel">
                Routes:
                <button class="btn btn-sm btn-block btn-secondary">Edit Routes</button>
            </div>
            <div class="detailValue">
                <div ng-repeat="route in selected.routes">{{route.name}}</div>
            </div>
        </div>
        <div id="BottomButtons" class="row container-fluid detailContainer"><button class="btn btn-secondary col-sm-5 col-xs-12">Edit Team Details</button><button class="btn btn-danger  col-sm-offset-2 col-sm-5 col-xs-12">Delete Team</button></div>
    </div>
</div>