<style>
.angular-google-map-container {
  height: 400px;
}
</style>

<div class="top-push listDetailView" id="Routes">
    <div class="col-xs-2 list">
        <div ng-repeat="route in list" class="row listRow" ng-class="{selected: route==selected}" ng-click="select(route)">
            <p>{{route.id}}</p>
        </div>
    </div>
    <div class="detail container-fluid">
      {{selected}}
        <div class="row container-fluid detailContainer">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events'>
            <ui-gmap-marker ng-repeat="marker in selected.markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
            <ui-gmap-polyline ng-repeat="marker in selected.markers" path="[marker.coords, selected.markers[$index > 0 ? $index-1 : $index].coords]"></ui-gmap-polyline>
            <div ng-init="other_routes = list; other_routes.splice(other_routes.indexOf(selected),1); console.log(list, other_routes);" ng-repeat="route in other_routes">
              <ui-gmap-marker ng-init="options = marker.options;options.color='grey'" ng-repeat="marker in route.markers" coords="marker.coords" options="options" events="marker.events" idkey="marker.id">
              </ui-gmap-marker>
              <ui-gmap-polyline ng-repeat="marker in route.markers" path="[marker.coords, route.markers[$index > 0 ? $index-1 : $index].coords]"></ui-gmap-polyline>
            </div>
          </ui-gmap-google-map>
        </div>
    </div>
</div>