<div id="SelectEvent">
    <h1>Select Event</h1>
    <form class="jumbotron panel select-event-form" ng-submit="select()">

        <select
                ng-model="selectedEvent"
                name="Event"
                ng-required="true"
                class="col-xs-12">
            <option value="">---Please select---</option>
            <option ng-repeat="event in events" value="{{event}}">{{event.name}}</option>
        </select>

        <button type="" class="btn-lg btn-secondary col-xs-6">New Event</button>
        <button type="submit" class="btn-lg btn-primary col-xs-6">Continue</button>
    </form>
</div>