<div id="SelectEvent" class="container">
    <h1>Select Event</h1>
    <form class="container-fluid jumbotron select-event-form" ng-submit="select()">
        <div class="container-fluid">
            <select
                    ng-model="selectedEvent"
                    style="margin-bottom: 1em"
                    name="Event"
                    ng-required="true"
                    class="col-xs-12 col-md-6 col-md-offset-3">
                <option value="">Please Select An Event</option>
                <option ng-repeat="event in events" value="{{event}}">{{event.name}}</option>
            </select>
        </div>
        <button ng-disabled="true" class="btn btn-secondary col-xs-5">New Event</button>
        <button type="submit" class="btn  btn-primary col-xs-5 col-xs-offset-2">Continue</button>
    </form>
</div>