.main-view {
  #home {
    h1 {
      text-align: center;
    }
  }
}

.tile {
  padding: 0;
  position: relative;
  text-align: center;
  .scale(1);
  .transition(~"all 0.2s");
  &:hover {
    .translate(@x:0, @y:-4px);
  }
  &.ng-enter {
    .scale(0);
  }
  &.ng-leave {
    display: none;
  }
  .tileShape {
    margin-bottom: 75%;
  }
  .tileContent {
    .drop-shadow(@x: 3px, @y:3px, @spread:1px, @blur:5px, @alpha: 1);
    .border-radius();
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding: 1em;
    margin: 0.5em;
    &:hover, &:focus {
      cursor: pointer;
    }
  }
}