.main-view {
  #home {
    h1 {
      text-align: center;
    }
  }
}

.tile {
  padding: 0;
  postion: realative;
  text-align: center;
  .tileShape {
    margin-bottom: 75%;
  }
  .tileContent {
    .drop-shadow(@x: 2px, @y:2px, @alpha: 0.3);
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding: 1em;
    margin: 0.5em;
    &:hover, &:focus {
      cursor: pointer;
    }
  }
}