<div class="container login-container" id="login">
    <h1>Administrator Login</h1>
    <img src="/assets/images/logo.png" class="logo">
    <div class="alert alert-danger alert-dismissible login-alert" ng-show="error.enabled" role="alert">
        <button type="button" class="close" aria-label="Close" ng-click="error.enabled = false"><span aria-hidden="true">&times;</span></button>
        <div dynamic="error" style="display:inline;"></div>
    </div>
    <form class="jumbotron panel login-form" ng-show="loginMode" ng-submit="login()">

        <div class="form-group form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="info.email" ng-required="true">
        </div>
        <div class="form-group form-group">
            <label>Password</label><input type="password" class="form-control" id="password" placeholder="Password" ng-model="info.password" ng-required="true">
        </div>

        <button type="submit" class="btn btn-primary pull-right">Login</button>
    </form>
</div>