<div class="container login-container" id="Login">
    <div class="container-fluid">
        <img src="/assets/images/logo.png" class="logo">
        <h1>Administrator Login</h1>
    </div>
    <div class="alert alert-danger alert-dismissible login-alert" ng-show="error.enabled" role="alert">
        <button type="button" class="close" aria-label="Close" ng-click="error.enabled = false"><span aria-hidden="true">&times;</span></button>
        <div dynamic="error" style="display:inline;"></div>
    </div>
    <form class=" container jumbotron panel login-form" ng-show="loginMode" ng-submit="login()">

        <div id="EmailContainer" class="row container-fluid detailContainer noLine">
            <div class="detailLabel">Email</div>
            <div class="detailValue">
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="info.email" ng-required="true">
            </div>
        </div>
        <div id="PasswordContainer" class="row container-fluid detailContainer noLine">
            <div class="detailLabel">Password</div>
            <div class="detailValue">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="info.password" ng-required="true">
            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Login</button>
    </form>
</div>