<div class="top-push container" id="CreateAdministrator">
    <h1>Create Administrator</h1>

    <form class=" container jumbotron login-form" ng-submit="createAdmin()">

        <div id="UsernameContainer" class="row container-fluid detailContainer noLine">
            <div class="detailLabel">Email:</div>
            <div class="detailValue">
                <input type="email" class="form-control" id="username" placeholder="Admin" ng-model="info.mail" ng-required="true">
            </div>
        </div>
        <div id="EmailContainer" class="row container-fluid detailContainer noLine">
            <div class="detailLabel">Re-enter Email:</div>
            <div class="detailValue">
                <input type="email" class="form-control" id="email" placeholder="@mx.com" ng-model="info.mail2" ng-required="true" >
                <br><span class="errorLabel" ng-show="mailMatch">Emails Don't Match</span>
            </div>
        </div>




        <div id="PasswordContainer" class="row container-fluid detailContainer noLine">
            <div class="detailLabel">Password:</div>
            <div class="detailValue">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="info.password" ng-required="true">
            </div>
        </div>
        <div id="PasswordCheckContainer" class="row container-fluid detailContainer noLine">
            <div class="detailLabel">Re-enter Password:</div>
            <div class="detailValue">
                <input type="password" class="form-control" id="passwordCheck" placeholder="Password (Again)" ng-model="info.password2" ng-required="true">
                <br><span class="errorLabel" ng-show="passwordMatch">Passwords Don't Match</span>
            </div>
        </div>



        <button type="submit" class="btn btn-primary pull-right">Create Administrator</button>
    </form>
</div>