<div class="top-push listDetailView" id="CreateRoute">
    <!--div class="col-xs-2 list">
        <div ng-model="markers" ng-repeat="marker in markers" class="row listRow">
            <p>{{ marker.coords.latitude }}, {{ marker.coords.longitude }}</p>
        </div>
    </div-->

    <div class="col-xs-12">
        <h1>Create a Route</h1>

        <div class="detail container-fluid">

            <form style="text-align:center;" id="cm" ng-submit="saveRoute()">

                <div class="detail container-fluid container-sm" style="text-align:left;">

                    <div class="required-label">* denotes mandatory field</div>

                    <div id="RouteNameContainer" class="row container-fluid detailContainer noLine">
                        <label for="routename" class="detailLabel">Route Name:</label>
                        <div class="star" style="margin-right:-10px;">*</div>
                        <div class="detailValue">
                            <input type="text" class="form-control" id="routeName" placeholder="Route One" ng-model="routeName" ng-required="true" autocomplete="off">
                        </div>
                    </div>


                    <p>Add at least 2 points (waypoints) to the route by clicking a location on the map and clicking "Save point".</p>
                    <p>Alternatively, you can place a point by entering an address.</p>


                    <div id="PointFinderContainer" class="row container-fluid detailContainer noLine form-group">
                        <label for="pointAdder" class="detailLabel">Enter an Address:</label>
                        <input type="text" class="form-control detailValueWButton" style="width:55%;" id="pointAdder" placeholder="123 Example Street" ng-model="map.center.address" ng-required="false" autocomplete="off">
                        <button type="button" class="btn btn-default" style="float:right;" ng-class="{disabled: !map.center.address}" ng-click="goToAddress()">Place Point</button>
                    </div>


                </div>
                <div class="container-fluid detailContainer container-md">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events'>
                        <ui-gmap-marker ng-hide="!newmarker.pending" ng-model="newmarker" coords="newmarker.coords" options="newmarker.options" events="newmarker.events" idkey="newmarker.id">
                        </ui-gmap-marker>
                        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                        <ui-gmap-polyline ng-repeat="marker in markers" path="[marker.coords, markers[$index > 0 ? $index-1 : $index].coords]"></ui-gmap-polyline>
                    </ui-gmap-google-map>
                </div>


                <input type="button" value="Save Point" class="btn btn-default" ng-class="{disabled: !newmarker.pending}" ng-click="saveMarker()"/>
                <input type="button" value="Undo Point" class="btn btn-danger" ng-class="{disabled: markers.length===0}" ng-click="markers.splice(markers.length-1,1);"/>
                <button type="submit" class="btn btn-primary" ng-class="{disabled: !routePending}">Save Route</button>

            </form>

        </div>
    </div>
</div>
