<!--<div class="row top-push" id="CreateRoute">
  <h1>Create Route</h1>
  
  <div class="col-xs-2 list">
    <div ng-repeat="marker in markers" class="row">
        <p>{{marker.coords.latitude}},{{markers.coords.longitude}}</p>
    </div>
  </div>
  <div class="detail container-fluid">

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="row">
      <select ng-options="zoom as zoom for zoom in map.zoom_options"
              ng-model="map.zoom"
              ng-change="console.log('hey!')">
      </select>
      <div class="col-xs-12">
        <h1>Center</h1>
        <label>Lat: <input type="text" ng-model="map.center.latitude"/></label>
        <label>Long: <input type="text" ng-model="map.center.longitude"/></label>
        <label>Center Address: <input type="text" ng-model="map.center.address"/></label>
        <button class="btn btn-default" ng-click="goToAddress()">Go To Address</button>
      </div>
    </div>
  </div>
</div>
-->
<div class="top-push listDetailView" id="CreateRoute">
    <div class="col-xs-2 list">
        <div ng-repeat="marker in markers" class="row listRow">
            <p>{{ marker.coords.latitude }}, {{ marker.coords.longitude }}</p>
        </div>
    </div>
    <div class="detail container-fluid">
        <h1>Create Route</h1>
        <p>Click a point on the map below or type in an address to add a waypoint.</p>
        
        <label>Center Address: <input type="text" ng-model="map.center.address"/></label>
        <button class="btn btn-default" ng-click="goToAddress()">Go To Address</button>
        
        <div class="row container-fluid detailContainer">
          <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        <div class="row container-fluid detailContainer">
            second row
        </div>
        <div class="row container-fluid detailContainer">lol</div>
    </div>
</div>
