// Overrides variables in the bootstrap variables file

@white: #FFFFFF;

@text-color: #EEE;
@jumbotron-bg: transparent;
@darkPrimaryColor:   #0097A7;
@primaryColor:       #00BCD4;
@lightPrimaryColor:  #B2EBF2;
@accentColor:        rgb(254, 161, 1);
@primaryTextColor:   #212121;
@secondaryTextColor: #727272;
@dividerColor:       #B6B6B6;

@textPrimaryColorHover: #111;
@primaryTextColor:   @white;


@table-bg-active: @accentColor;
@table-bg-hover: fade(@table-bg-active, 50%);


@btn-warning-color: black;
@btn-danger-color: black;

@body-bg: #333;

@link-color: rgb(254, 161, 1);