<div class="top-push listDetailView" id="Administrator">
    <div class="col-xs-2 list">
        <div class="row">
            <input ng-model="searchText" placeholder="Search for..." class="listSearch"></input>
        </div>
        <div ng-repeat="administrator in list | filter:searchText | orderBy:'+LASTNAME'" class="row listRow" ng-class="{selected: administrator==selected}" ng-click="select(administrator)">
            <p>{{administrator.LASTNAME}}, {{administrator.FIRSTNAME}}</p>
        </div>
        <div align="center">
            <button class="btn btn-secondary" ui-sref="createAdministrator">Create Administrator</button>
        </div>
    </div>
    <div class="detail container-fluid  container-sm">
        <h1>Administrator Details</h1>
        <div id="Name" class="row container-fluid detailContainer">
            <div class="detailLabel">Administrator Name: </div>
            <div class="detailValue">
                {{selected.LASTNAME}}, {{selected.FIRSTNAME}}
            </div>
        </div>
        <div id="Mail" class="row container-fluid detailContainer">
            <div class="detailLabel">Administrator E-mail: </div>
            <div class="detailValue">
                {{selected.mail}}
            </div>
        </div>
        <div id="Password" class="row container-fluid detailContainer">
            <div class="detailLabel">Administrator Password: </div>
            <div class="detailValue">
                <button class="btn btn-sm btn-warning ">RESET</button>
            </div>
        </div>
        <div id="BottomButtons" class="row container-fluid detailContainer">
            <button class="btn btn-secondary col-sm-5 col-xs-12">Edit Administrator Details</button>
            <button class="btn btn-danger  col-sm-offset-2 col-sm-5 col-xs-12">Delete Administrator</button>
        </div>
    </div>
</div>